@import "../../variables.scss";

.search__container {
    background-color: $light-blue;
    padding: 4px 15px;
    border-radius: 2px;
    height: 25px;
    width: 300px;
    display: flex;
    align-items: center;

    &.focused {
        background-color: white;
    }

    .search__icon {
        margin-right: 10px;
        display: inline-block;

        .search-icon__icon {
            color: $primary-blue;
        }
    }

    .search__input {
        border: none;
        outline: none;
        background-color: inherit;
    }
}
