@import "../../variables.scss";

.side-bar__container {
    display: inline-block;
    background-color: $lighter-grey;
    width: 45px;
    height: 100%;
    transition: all 0.1s ease 0s;

    &.expanded {
        width: 200px;
    }

    .new-message__button {
        top: -10px;
        background-color: $primary-blue;
    }

    .expand__icon {
        margin: 5px;
        display: inline-block;
        border-radius: 2px;
        cursor: pointer;

        &:hover {
            background-color: $light-grey;
        }

        svg {
            padding: 3px 5px;
            cursor: pointer;
        }
    }

    .mail__list {
        ul {
            padding: 5px 0;
        }

        .mail-items__list {
            list-style: none;
            display: flex;
            align-items: center;
            height: 30px;
            padding: 0 20px;
            cursor: pointer;

            svg {
                width: 20px;
                margin-right: 20px;
            }

            &:hover {
                background-color: $light-grey;
            }
        }
    }
}
